:root {
    --profile-box: 300px;
}

.profile-form-container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.profile-form {
    min-width: var(--profile-box);
    max-width: 100%;
    padding: 75px 50px;
    border: 1px solid var(--text-color);
    border-radius: 25px;
}

.profile-form input {
    width: 100%;
    padding: 10px 0 10px 3px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    outline: none;
}

.profile-form input:focus {
    box-shadow: 0 0 5px 3px var(--text-color);
}

.profile-form label {
    margin: 30px 0;
}

.profile-form button {
    margin: 30px 0;
    width: 100%;
    background-color: white;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    padding: 5px;
    font-size: 18px;
}

.profile-form button:hover  {
    transition: border 1s, box-shadow 1s;
    border: 3px solid orange;
    box-shadow: 0 0 10px 2px orange;
}

.error-message-profile {
    max-width: var(--profile-box);
}

.profile-form a {
    font-weight: 400;
}

.profile-form a.redirect-buttons {
    display: block;
    min-width: var(--profile-box);
    text-align: center;
    border: 3px solid var(--text-color);
    text-decoration: none;
    color: var(--text-color);
}

.profile-form a.redirect-buttons:hover {
    transition: border 1s, color 1s, box-shadow 1s;
    border: 3px solid red;
    color: red;
    box-shadow: 0 0 10px 2px red;
}